.intro {
  width: 830px;
  /* height: 482px; */
  margin-top: 92px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  column-gap: 0;
}
.intro__title {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 49px;
  text-align: left;
  color: #ffffff;
  width: 707px;
  height: 98px;
  margin-top: 0;
  margin-bottom: 0;
}
.intro__subtitle-and-author {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  column-gap: 10px;
}
.intro__subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  width: 720px;
  height: 102px;
  margin: 0;
}
.intro__author {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  width: 720px;
  height: 34px;
  margin-right: 6px;
  align-items: flex-end;
}
.intro__paragraph {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  color: #ffffff;
  width: 720px;
  height: 182px;
  margin-top: 32px;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .intro {
    width: 100%;
    /* height: 490px; */
    margin-top: 90px;
    margin-left: 24px;
    margin-bottom: 0px;
  }
  .intro__title {
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    width: 707px;
    height: 98px;
    margin-bottom: 50px;
  }
  .intro__subtitle-and-author {
    margin: 0;
  }
  .intro__subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    width: 720px;
    height: 102px;
    margin: 0px;
  }
  .intro__author {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    width: 720px;
    height: 34px;
    margin: 0;
  }
  .intro__paragraph {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    width: 720px;
    height: 182px;
  }
}
@media (max-width: 720px) {
  .intro {
    width: 288px;
    /* height: 878px; */
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 64px;
  }
  .intro__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    width: 288px;
    height: 140px;
    margin-bottom: 40px;
  }
  .intro__subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    width: 288px;
    height: 180px;
    margin: 0;
  }
  .intro__author {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    width: 288px;
    height: 34px;
  }
  .intro__paragraph {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    width: 288px;
    height: 442px;
    margin: 0;
  }
}
