.intro {
  margin-top: 92px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  column-gap: 0;
  margin-left: 24px;
  margin-right: 24px;
}
.intro__title {
  font-family: Inter;
  font-size: 45px;
  font-weight: 900;
  line-height: 49px;
  text-align: left;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
}
.intro__subtitle-and-author {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  column-gap: 10px;
}
.intro__subtitle {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;

  margin: 0;
}
.intro__author {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;

  margin-right: 6px;
  align-items: flex-end;
}
.intro__paragraph {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  color: #ffffff;

  margin-top: 32px;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .intro {
    margin-top: 90px;

    margin-bottom: 0px;
  }
  .intro__title {
    font-family: Inter;
    font-size: 45px;
    font-weight: 900;
    line-height: 49px;
    text-align: left;
    margin-bottom: 50px;
  }
  .intro__subtitle-and-author {
    margin: 0;
  }
  .intro__subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    margin: 0px;
  }
  .intro__author {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
    margin: 0;
  }
  .intro__paragraph {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
  }
}
@media (max-width: 720px) {
  .intro {
    margin-left: 0px;
    margin-top: 0;
    margin-bottom: 64px;
  }
  .intro__title {
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
    text-align: left;
    margin-bottom: 40px;
    max-width: 288px;
  }
  .intro__subtitle {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;

    margin: 0;
  }
  .intro__subtitle-and-author {
    margin: 0;
    max-width: 288px;
  }
  .intro__author {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    text-align: right;
  }
  .intro__paragraph {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26.08px;
    text-align: left;
    max-width: 288px;

    margin: 0;
  }
}
