.photo__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 1184px;
  grid-gap: 16px;
  margin-top: 118px;
  margin-bottom: 92px;
}
.photo__grid-item {
  width: 284px;
}
@media (max-width: 1024px) {
  .photo__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 720px;
    grid-gap: 16px;
    margin-top: 64px;
    margin-bottom: 88px;
  }
  .photo__grid-item {
    width: 352px;
  }
}
@media (max-width: 720px) {
  .photo__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 288px;
    grid-gap: 12px;
    margin-top: 64px;
    margin-bottom: 62px;
  }
  .photo__grid-item {
    width: 288px;
  }
}
